<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a class="navbar-brand" routerLink="/">Real Estate Agency</a>
        </div>

        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a style="cursor: pointer" routerLink="/realEstateList">Real Estate List</a></li>
                <li routerLinkActive="active"><a style="cursor: pointer" routerLink="/wishList">Wish List</a></li>
                <li><a href="#">About</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
            <a (click)="onSaveData()">Save Data</a>
            <a (click)="onFetchData()">Fetch Data</a>

        </div>
    </div>
</nav>