<div class="row">
  <div class="col-xs-12">
    <hr />
    <ul class="list-group">
        <a href="#" class="list-group-item clearfix" *ngFor="let item of wishList">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{item.name}}</h4>
                <hr>
                <h4 class="list-group-item-heading">Price: <span class="bolder">{{item.price}} $</span></h4>
                <button type="button" class="btn btn-danger">Delete from WishList</button>
            </div>
            <span class="pull-right">
                <img src="{{item.imagePath}}" alt="{{item.name}}" class="img-responsive">
            </span>
        </a>
    </ul>
  </div>
</div>
