<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a class="navbar-brand" routerLink="/">Real Estate Agency</a>
        </div>

        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a style="cursor: pointer" routerLink="/realEstateList">Real Estate List</a></li>
                <li routerLinkActive="active"><a style="cursor: pointer" routerLink="/about">About</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a style="cursor: pointer">{{user?.email}}</a></li>
                <li><a style="cursor: pointer" *ngIf="isAuthenticated" (click)="onLogout()">Logout</a></li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated"><a style="cursor: pointer" routerLink="/login">Login</a></li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated"><a style="cursor: pointer" routerLink="/register">Register</a></li>
            </ul>
        </div>
    </div>
</nav>