<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-response" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1 (click)="onShow()">{{ realEstateToDetailsFromApp.name }}</h1>
    <span class="pull-right">
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </span>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ realEstateToDetailsFromApp.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="list-group-item-text">
      Type: <span class="bolder">{{ realEstateToDetailsFromApp.type }}</span>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="list-group-item-text">
      Town: <span class="bolder">{{ realEstateToDetailsFromApp.town }}</span>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="list-group-item-text">
      Price: <span class="bolder">{{ realEstateToDetailsFromApp.price }}$</span>
    </p>
  </div>
</div>

<span class="pull-left">
  <img
    src="{{ realEstateToDetailsFromApp.imagePath }}"
    alt="{{ realEstateToDetailsFromApp.name }}"
    class="img-responsive"
  />
</span>
