<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRealEstate()">Add New Real Estate</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-real-estate-item *ngFor="let itemElement of realEstateModifiedList; let i = index" [item]="itemElement" [i]="i + (currentPage-1) * 5"></app-real-estate-item>
    </div>
    <app-pagination [realEstateList] = "realEstates" [currentPage]="currentPage" [limit]="5" [total]="realEstates.length" (changePage)="changePage($event)"></app-pagination>
</div>