<div class="row">
    <div class="col-xs-6" style="margin-top: 100px">
        <hr>
        <h3>Welcome to our Real Estate Agency!</h3>
        <p>Here you can find your home depending on your personal preferences.</p>
        <p><i>Home is where the heart is.</i></p>
        <hr>
        <form>
            <input type="text" name="searchBox" class="inputSearch" placeholder="Search...">
            <button class="btn btn-success">Search</button>
        </form>
    </div>
    <div class="col-xs-6">
        <img src="../../assets/homePage.jpg" style="max-height: 500px;" />
    </div>
</div>